@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.main_page {
  height: 100%;
}

.header_section {
  background: rgb(40,40,60);
  h1, p {
    color: white;
    text-align: center;
    margin: 0 auto;
  }
  .header_title_section {
    width: 100%;
    margin-bottom: 4rem;
  }
  .header_title {
    width: 65%;
    margin: 0 auto;
    h1 {
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: -0.03125rem;
      margin-bottom: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1rem;
      font-weight: 300;
    }
  }
  .button_section {
    display: flex;
    justify-content: center;
  }
}

.features_section {
  background: #000C19;
  h2, p.pullquote {
    color: white;
    text-align: center;
  }
  h2 {
    margin-bottom: 2rem;
  }
  p.author {
    color: #999999;
    text-align: center;
  }
  padding: 2rem 0;
}

.benefits_section {
  background: white;
  h6 {
    text-transform: uppercase;
    color: #4A4A4A;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
  }
  .benefits_box {
    padding: 6rem 0;
  }
  .benefits_list_section {
    display: flex;
  }
  .org_benefits_section {
    background: white;
  }
  .community_benefits_section {
    background: #f5f5f5;
  }
}

.about_ideo_section {
  background: white;
  padding: 5rem 0;
  .about_ideo_logo_box {
    margin: 0 auto;
    .about_ideo_logo_text {
      color: #d8d8d8;
      font-size: 0.875rem;
      letter-spacing: 0.05rem;
      text-align: center;
    }
  }
}
