

.contact_form {
  margin: 30px 0;
  max-width: 750px;

  .email-wrapper {
    display: inline-block;
  }

  input[type="email"], select {
    width: 280px;
    height: 50px;
    border-radius: 6px;
    margin: 0 7px;
    padding-left: 25px;

    line-height: 50px;
    font-size: 14px;
    color: #AAA;

    border-style:solid;
    border-width: 1px;
    border-color: #888;
  }

  input[type="email"].invalid {
    border: 1px solid red;
  }

select {
  /* NOT fully browser compatible, helps on some
  Really the select should be custom with JS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 95% center;
}

  input[type="email"], select option {
    line-height: 25px;
  }

  input[type="submit"] {
    margin-left: 7px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: #47A;
    border-style: none;

    cursor: pointer;

    color: white;
    font-size: 12px;
    text-transform: uppercase;
  }

  .email-validation-warning {
    color: red;
    font-size: 12px;
    margin: 3px 10px;
    display: none;
  }
}
