@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.contact_form {
  margin: 30px auto;
  max-width: 900px;
  text-align: center;

  .input-wrapper {
    display: block;
    margin: 0 auto;

    @media only screen and (min-width: 890px) {
      display: inline-block; /* Online inline if all three can fit */
    }
    .desktop({
      padding: 6px 0.5rem;
    });
    .mobile({
      padding-bottom: 0.5rem;
    });
  }

  /* Force vertical if the parent component specifies stacked */
  &.stacked .input-wrapper {
    display: block !important;
  }

  input[type="email"], select {
    width: 100%;
    height: 3.125rem;
    border-radius: 0.25rem;
    padding-left: 1.5rem;

    .smalltext;
    line-height: 50px;
    color: #aaaaaa;

    background-color: white;
    border: 1px solid rgba(251,251,251,0.08);
    box-shadow: @box-shadow;
  }

  input[type="email"].invalid {
    border: 1px solid red;
  }

select {
  /* NOT fully browser compatible, helps on some
  Really the select should be custom with JS */
  appearance: none;
  background-color: white !important;
  background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDcuODRMMTIgMTIuNDJsNC41OS00LjU4TDE4IDkuMjVsLTYgNi02LTZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNzVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+") no-repeat 95% center;
}

  input[type="email"], select option {
    line-height: 25px;
  }

  input[type="submit"] {
    height: 50px;
    border-radius: 4px;
    background-color: @color-blue;
    border-style: none;
    display: inline-block;

    cursor: pointer;

    .smallbody;
    font-weight: 500;
    text-align: center;
    color: white;
    text-transform: uppercase;
    .desktop({
      width: 100%;
    });
    .mobile({
      width: 100%;
    });
  }

  &.blueButton input[type="submit"] {
    background-color: @color-blue;
  }
}
