@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.button_style {
  text-decoration: none;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: @box-shadow;
  border-radius: 0.25em;
  p {
    color: white;
    font-weight: 500;
    .smalltext;
  }
  &:hover {
    opacity: 0.85;
  }
}
