@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.get_involved_page {
  .desktop({
    height: 100%;
  });
}
.gi_title_text {
  text-align: center;
  margin: 0 auto;
  h1 {
    .title;
  }
  .desktop({
    width: 44%;
  });
  .mobile({
    width: 85%;
  });
}
.gi_anchors_section {
  width: 100%;
  p.gi_tagline {
    .smalltext;
    color: white;
    text-align: center;
  }
}
.gi_anchor_links {
  width: 88%;
  margin: 2.25rem auto;
  .desktop({
      display: flex;
      justify-content: space-between;
  });
}
.gi_anchor_link_box {
  .anchor_link_styling {
    display: flex;
    opacity: 0.7;
    border-radius: 0.25rem;
    cursor: pointer;
    p {
      color: @color-dark;
      .medbody;
      margin-right: 1.375rem;
    }
    .desktop({
      &:hover {
        opacity: 1;
        transform: translate(0, -0.625rem);
      }
      padding: 2.25rem 1.5rem;
    });
    .mobile({
      opacity: 1;
      padding: 1.5rem;
      margin-bottom: 0.5rem;
    });
  }
  .desktop({
    width: 30%;
  });
  .mobile({
    width: 95%;
    margin: 0 auto;
  });
}

.gi_header_section {
  height: 100%;
  background: @color-green;
  .mobile({

  });
  .desktop({
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
  });
}
.gi_try_them_page {
  background: white;
  .desktop({
    padding: 8rem 0 7rem 0;
  });
  .mobile({
    padding: 5rem 0;
  });
}
.gi_try_content {
  margin: 0 auto;
  width: 85%;
  h2 {
    .subhuge;
    color: @color-dark;
    .desktop({
      width: 31%;
    });
    .mobile({
      width: 90%;
      margin-bottom: 1rem;
    });
  }
  p {
    .largebody;
    color: @color-text;
    .desktop({
      width: 55%;
    });
    .mobile({
      width: 90%;
    });
  }
  .desktop({
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;
  });
  .mobile({
    margin-bottom: 4.5rem;
  });
}

.gi_collaborate_page {
  background: @gray-background;
  .desktop({
    padding: 7rem 0;
  });
  .mobile({
    padding: 4.5rem 0;
  });
}
.gi_collab_form {
  margin: 0 auto;
  .desktop({
    display: flex;
    margin-bottom: 7rem;
    width: 90%;
  });
  .mobile({
    margin-bottom: 4.5rem;
    width: 85%;
  });
}
.gi_collab_form_content {
  .desktop({
    width: 50%;
  });
  h2.gi_collab_title {
    color: @color-dark;
    .subhuge;
    .desktop({
      margin-bottom: 2rem;
    });
    .mobile({
      margin-bottom: 1rem;
    });
  }
  p.gi_collab_description {
    .largebody;
    color: @color-text;
  }
}

.gi_collab_form_content, .gi_collab_form_box {
  .mobile({
    width: 95%;
  });
}

.gi_collab_form_box {
  margin: 0 auto;
  .desktop({
    width: 30%;
  });
  .button {
    width: 100%;
    &:hover {
      background: rgb(51,102,255);
      color: rgb(241,241,241);
    }
  }
}

.gi_code_page {
  background: white;
  .desktop({
    padding: 7rem 0;
  });
  .mobile({
    padding-top: 4.5rem;
  });
}
.gi_code_page_content {
  width: 85%;
  margin: 0 auto;
  .gi_code_title {
    color: @color-dark;
    .subhuge;
    .mobile({
      margin-bottom: 1rem;
    });
  }
  .gi_code_description {
    color: @color-text;
    .largebody;
  }
  .desktop({
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
  });
  .mobile({
    margin-bottom: 4.5rem;
  });
}
.gi_visual_box {
  position: relative;
}
.gi_visual {
  width: 65%;
  height: auto;
  box-shadow: @box-shadow;
  border-radius: 0.25rem;
  .mobile({
    width: 80%;
    margin-bottom: 6rem;
  });
}
.gi_visual.right {
  margin-left: 35%;
  .mobile({
    margin-left: 20%;
  });
}
.gi_info_section_wrapper {
  position: absolute;
  z-index: 1;
  .desktop({
    width: 35%;
  });
  .mobile({
    width: 70%;
  });
}
.gi_try_infobox {
  left: 60%;
  top: -3rem;
  .mobile({
    left: 15%;
    top: 6rem;
  });
}
.gi_collab_infobox {
  left: 5%;
  top: 8rem;
}
.gi_code_infobox {
  left: 5%;
  top: -3rem;
  .mobile({
    left: 15%;
    top: 6rem;
  });
}

.gi_infobox {
  box-shadow: @box-shadow;
  .mobile({
    .button {
      margin: 0 auto;
      width: 100%;
    }
  });
}
p.gi_infobox_text {
  color: @color-dark;
  line-height: 1.3333;
  margin-bottom: 1.5rem;
}
.gi_visual_box.right {
  display: flex;
  justify-content: flex-end;
}
