@import '../../globals/constants.less';

.header {
  background-color: rgba(0,0,0,0);
  height: @header-height;
  width: 100%;
  .logo_section {
    width: 50%;
    float: left;
    height: 10px;
  }
  .links_section {
    width: 50%;
    float: left;
    display: flex;
    justify-content: flex-end;
  }
}
