@import '../../globals/constants.less';

.header {
  height: @header-height;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo_section {
    width: 30%;
  }
  .links_section {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header_link {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    &:hover {
      color: rgba(251,251,251,0.9);
    }
  }
  .header_button {
    height: 2.5rem;
    width: 8.75rem;
    background: #4c79ff;
    margin-left: 2rem;
  }
  .desktop({
    width: 92%;
    .menu_icon {
      display: none;
    }
  });
  .mobile({
    width: 86%;
    .menu_icon {
      cursor: pointer;
    }
    .links_content {
      display: none;
    }
  });
}
