@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.mission_page {
  .desktop({
    height: 100%;
  });
}

.mission_subsection_wrapper {
  width: 75%;
  margin: 2rem auto;
  h2, p {
    text-align: center;
    color: white;
  }
  .mission_tagline {
    .medbody;
    margin-bottom: 1.25rem;
  }
  .mission_statement {
    .subhuge;
  }
}

.mission_section {
  background-image: url('../../assets/mission.jpg');
  background-color: @color-green;
  background-blend-mode: multiply;
  padding-bottom: 2rem;
}

.about_section {
  background: @gray-background;
  display: flex;
  justify-content: center;
  align-content: center;
  .about_button_section {
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }
}
.mi_subsection {
  .desktop({
    width: 60%;
    padding: 5em 0;
  });
  .mobile({
    width: 85%;
    padding: 2.5rem 0;
  });
  margin: 0 auto;
}
.partners_section {
  background: white;
  .mi_ac_members {
    .mi_tagline {
      color: @color-dark;
      font-weight: 500;
      .smalltext;
      .desktop({
        padding-bottom: 2rem;
      });
    }
  }
  .mi_ac_grid_wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .mi_ac_grid {
    margin: 0 auto;
    .ac_image_box {
      .desktop({
        display: inline-block;
        width: 21%;
        margin: 1.5rem 2%;
      });
      .mobile({
        padding: 3rem 0 3rem 0;
        border-bottom: 1px solid rgb(220,220,220);
      });
    }
    .mi_ac_member_image {
      .desktop({
        width: 100%;
      });
      .mobile({
        width: 66.66%;
        margin: 0 auto;
        display: block;
      });
      height: auto;
    }
  }
}

.mission_page {
  p, h2 {
    text-align: center;
  }
  h2.about_title {
    color: @color-dark;
    .subhuge;
    margin-bottom: 1.875rem;
  }
  p.about_description {
    color: rgba(25, 24, 26, 0.72);
    .medbody;
  }
}
