@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.app {
  @viewport {
    zoom: 1.0;
    width: extend-to-zoom;
  }
  width: 100%;
  height: 100%;
  font-family: @font-set;
  font-size: 16px;
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
}

.header_section {
  height: 100%;
}
.header_subsection {
  height: ~"calc(100% - @{header-height})";
  .desktop({
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  });
  .mobile({

  });
}

.primary_button {
  .desktop({
    height: 4em;
    width: 12em;
  });
  .mobile({
    height: 3.75em;
    width: 10em;
  });
  background: @color-green;
  p {
    color: white;
  }
}

.primary_button.blue {
  background: @color-blue;
}

.mobile {
  .desktop({
    display: none !important;
  });
}
.desktop {
  .mobile({
    display: none !important;
  });
}
